<section class="ftco-section ftco-intro">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4 d-flex">
                <div class="img" style="background-image: url('../assets/menu/images/bg_2.jpg')"></div>
            </div>
            <div class="col-md-8 py-md-5 pt-4 p-md-5">
                <h2> <span>Hola</span>, aquí pongo una descripción &amp; Founder of <span>Algo</span></h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore nemo quaerat sed ex? Laborum,
                    recusandae nihil? Possimus libero quas, sed culpa porro quidem quaerat vitae ratione impedit nihil?
                    Esse, accusamus?.</p>
                <p><a routerLink="/contact" class="btn btn-primary">Contact Us</a></p>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-intro bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center">
                <h2 class="mb-0 font-primary">Más de <span class="number" data-number="300">1500</span>
                    artículos</h2>
            </div>
        </div>
    </div>
</section>