<section class="ftco-section ftco-intro">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-4 d-flex">
                <div class="img" style="background-image: url('../assets/menu/images/bg_2.jpg')"></div>
            </div>
            <div class="col-md-8 py-md-5 pt-4 p-md-5">
                <h2>Aquí<span> aprenderás fotografía</span> paso a paso y desde cero</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore nemo quaerat sed ex? Laborum,
                    recusandae nihil? Possimus libero quas, sed culpa porro quidem quaerat vitae ratione impedit nihil?
                    Esse, accusamus?.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quo, corporis nihil ipsam quidem quia, natus ratione eum nam libero exercitationem nulla et cumque odit sint alias amet, ducimus blanditiis.
                    Nam, soluta. Hic repudiandae voluptate velit ipsum aliquid magnam error earum, quos dolore placeat obcaecati enim? Aperiam assumenda beatae dicta, vitae doloremque temporibus nesciunt consectetur repudiandae repellat, explicabo dolore commodi?
                    Dolore ad, perspiciatis exercitationem fuga dolor, praesentium explicabo vel doloribus cumque neque eaque ratione rem! Rerum ipsa porro doloremque sapiente ullam corrupti, dignissimos ducimus nostrum voluptatem error, fugiat, praesentium nulla.
                    Iusto quis consequatur beatae vero, consequuntur cumque nobis, reiciendis itaque ipsum necessitatibus recusandae, possimus eaque doloremque dicta asperiores autem doloribus illum iure natus repellat soluta alias ipsa. Quo, modi esse!
                    Atque nihil soluta fugit pariatur, eligendi, adipisci similique repudiandae reiciendis dignissimos, quia maiores excepturi. Cum totam aspernatur quasi. Earum illum aspernatur fugit architecto voluptates tempore minima neque quia eligendi quisquam!
                    Fugiat enim dolore eos exercitationem quae illum facilis reiciendis optio at. Fugiat consequatur repellat animi ipsam voluptates nisi quasi voluptatem nobis, nostrum laboriosam molestiae totam commodi rem expedita temporibus quidem.
              </p>
                
            </div>
        </div>
    </div>
</section>